DATABASE_URL=""

ADMIN_EMAIL="email@example.co"
ADMIN_PASSWORD="yourpass"
ADMIN_NAME="admin"

APP_URL="http://localhost:3000"

JWT_SECRET=""
JWT_EXPIRES_IN="7d"
USE_HTTPS=""

EMAIL_USER=""
EMAIL_APP_PASSWORD=""


NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""
